<div class="container-fluid">
    <div class="row flex-nowrap">
        @Html.Partial("_LeftMenu")

        <div class="col py-3">
            <div class="container">
                <div class="mb-3">
                    <b class="text-danger">
                        @ViewBag.post.Title
                    </b>

                </div>
                <div class="mb-3">
                    <p>
                        @ViewBag.post.Content
                    </p>
                </div>
                <div class="mb-3">
                    <p>
                        Ortalama Fiyat :  @ViewBag.post.Price
                    </p>
                    @foreach (var item in ViewBag.user)
                    {
                        <p>Gönderi Sahibi: @item.Name @item.Surname</p>
                    }

                </div>

            </div>
        </div>
    </div>
</div>


