@{
    Layout = null;
    int count = 0;
}
@model Application
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/SolutionCenter.styles.css" asp-append-version="true" />
<div class="container-fluid">
    <div class="row flex-nowrap">
        @Html.Partial("_LeftBarMenu")
        <div class="col py-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Surname</th>
                        <th scope="col">Lisans</th>
                        <th scope="col">İşlem</th>
                    </tr>
                </thead>
                <tbody> 
                    @foreach(var item in @ViewBag.PendingApplication){
                        count++;
                        <tr>
                        <th scope="row">@count</th>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Degree</td>
                            <td><button type="button" class="btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-@item.ApplicationID">İncele</button></td>
                      
                                <div id="modal-@item.ApplicationID" class="modal fade" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="reviewModalLabel">@item.Name @item.Surname Başvuru</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p><b style="color:red">İsim Soyisim:</b> @item.Name @item.Surname</p>
                                                <br />
                                                <p><b style="color:red">Tecrübe Yılı: </b> @item.Experience</p>
                                                <br />
                                                <p><b style="color:red">Mezun olunan bölüm:</b>  @item.Degree</p>
                                            </div>
                                            <div class="modal-footer">
                                               
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2-@item.ApplicationID">Reddet</button>
                                                <div id="modal2-@item.ApplicationID" class="modal fade" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="reviewModalLabel">Reddetme Nedeni</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <form method="post" asp-area="Admin" asp-controller="Admin" asp-action="RejectApplication">
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label for="rejectReason" class="form-label">Reddetme Nedeni</label>
                                                                    <textarea name="reasonRejection" class="form-control" rows="3"></textarea>
                                                                    <input type="hidden" name="id" value="@item.ApplicationID" />
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-danger">Reddet</button>
                                                            </div>
                                                        </form>
                                                        </div>
                                                    </div>
                                                </div>
                                                <form method="post" asp-area="Admin" asp-controller="Admin" asp-action="AcceptUser">
                                                <input type="hidden" name="id" value="@item.AppUserId" />
                                                <button type="submit" class="btn btn-success">Kabul Et</button>
                                                </form>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           

                    </tr>
                    }           
                    
                </tbody>
                
            </table>

            

        </div>
  
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>